<!-- output.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Output</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Your existing styles here */
    </style>
</head>

<body>
    <div class="content">
        <div class="container mt-3">
            <h1>Form Submission Details</h1>
            <p><strong>First Image:</strong> <%= filename %></p>
            <p><strong>Topic:</strong> <%= topic %></p>
            <p><strong>Description:</strong> <%= description %></p>
            <p><strong>Read from OCR:</strong> <%= ocrData %></p>
        </div>
    </div>

    <div id="footer" class="footer">
        <img src="images/Logo/Logo.png" alt="Company Logo" style="width: 50px; border-radius: 50%;">
        <p style="color: #ffffff;">&copy; ENG18/19</p>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
